body {
	margin: 0;
	/*background-color: black;*/
}

.header {
	text-align: center;
	padding:  30px;
	background-color: black;
}

h1 {
	color: #c2905b;
	font-family: "Cormorant SC", helvetica, serif;
	font-weight: 500;
	font-size:  3vw;
	font-style: normal;
	margin-bottom: 0px;
}

h2 {
	color: lightgrey;
	font-family: "Cormorant Garamond", helvetica, serif;
	font-weight: 300;
	font-size:  1.5vw;
	font-style: normal;
}

a {
	font-family: "Cormorant Unicase", serif;
  	font-weight: 600;
  	font-style: normal;
  	text-decoration: none;
  	color: #c2905b;
}

a:hover {
	color: lightgrey;
}

.resume {
	text-align: center;
	padding-top:  100px;
	padding-bottom:  100px;
	background-color: black;
	/* font */
	color: lightgrey;
	font-family: "Cormorant SC", helvetica, serif;
	font-weight: 300;
	font-size:  1.5vw;
	font-style: normal;
}

.resume h2 {
	font-family: "Cormorant SC", helvetica, serif;
	font-weight: 500;
	font-size:  2vw;
  	font-style: normal;
}

.mobile-break {
	display: none;
}

.image-grid {
	--gap: 0px;
	--num-cols: 3;
	--row-height: 400px;

	box-sizing: border-box;
	padding: var(--gap);

	margin: 0;
	background-color: black;

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.image-grid>img:hover {opacity: 0.7;}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /*padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 60vw;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 300px;
	}

	h1 {
		font-size: 4.5vw;
	}

	h2 {
		font-size: 3vw;
	}

	.resume {
		font-size: 3vw;
	}

	.resume h2 {
		font-size: 3vw;
	}

	.mobile-break {
		display: block;
	}
}












